node_modules
dist
dist-secure
build
*.iml
*.lock
package-lock.json
/packages/compiler/lib/expressions/expression-parser.js
lerna-debug.log
examples/**/*.d.ts
examples/**/*.jay.html.ts
**/coverage/
.yarn/install-state.gz
