node_modules
dist
dist-secure
build
agent-kit
*.iml
/packages/compiler/compiler/lib/expressions/expression-parser.js
examples/**/*.d.ts
examples/**/lib/**/*.jay-html.ts
**/coverage/
.yarn/
/.idea/prettier.xml
/.idea/workspace.xml

4example