dist
dist-secure
build
/packages/compiler/lib/expressions/expression-parser.cjs
/packages/compiler/test/fixtures/**/*.html
/packages/secure/test/**/*.html.d.ts
/packages/secure/test/**/*.html.ts
.vscode
.yarn
