dist
dist-secure
build
/packages/compiler/compiler/lib/expressions/expression-parser.cjs
/packages/compiler/compiler/test/fixtures/**/*.html
/packages/runtime/secure/test/**/*.html.d.ts
/packages/runtime/secure/test/**/*.html.ts
.vscode
.yarn
